img{
  width: 17%;
}

ul{
    list-style-type: none;
}

nav{
  float: right;
}

a:link {
    color: #B82E00;
    text-decoration: none;
}

a:visited {
    color: #B82E00;
    text-decoration: none;
}

.wrap{
  margin-left: 10%;
  margin-right: 10%;
  background: #ffffff;
}
